<main class="login-container">
  <div class="auth-wrapper">
    <div class="logo-container">
      <img src="../assets/icons/header/infomarket_logo_mini.png" alt="InfoMarket Logo" class="login-logo">
    </div>
    <h1 class="auth-title">Crear cuenta</h1>
    <p class="auth-subtitle">Introduce tus credenciales para crear tu cuenta</p>

    <form id="signup-form" class="auth-form">
      <div class="input-group">
        <input id="user-register" type="text" placeholder="Nombre de usuario" required>
        <i class='bx bxs-user'></i>
      </div>
      <div id="username-requirements" class="requirements" style="display: none;">
        <p id="first-letter" class="requirement">Debe comenzar con una letra <span>✔</span></p>
        <p id="alphanumeric" class="requirement">Solo se permiten letras y números <span>✔</span></p>
        <p id="length" class="requirement">Debe tener al menos 5 caracteres <span>✔</span></p>
      </div>

      <div class="input-group">
        <input id="email-register" type="email" placeholder="Email" required>
        <i class="bx bxs-envelope"></i>
      </div>
      <div class="input-group">
        <input id="password-register" type="password" placeholder="Contraseña" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      <div id="password-requirements" class="requirements" style="display: none;">
        <p id="password-length" class="requirement">Debe tener al menos 8 caracteres <span>✔</span></p>
        <p id="password-uppercase" class="requirement">Debe tener una mayúscula <span>✔</span></p>
        <p id="password-number" class="requirement">Debe tener un número <span>✔</span></p>
        <p id="password-lowercase" class="requirement">Debe tener una minúscula <span>✔</span></p>
        <p id="password-special" class="requirement">Debe tener un carácter especial <span>✔</span></p>
      </div>

      <button type="submit" class="primary-button">Crear cuenta</button>

      <div class="form-divider">
        <span>o</span>
      </div>

      <button type="button" class="secondary-button" id="sign-up-btn" >
        Iniciar Sesión
      </button>
    </form>
  </div>
</main>
