<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../templates/shopping-cart-component/shopping-cart-component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../xlu-include-file.js"></script>
    <title>Title</title>
</head>
<body>
    <article id="shopping-cart-component">
        <ul id="shopping-cart-wrapper">
            <li xlu-include-file="../shopping-info-component/product-info-component.html"></li>
            <li xlu-include-file="../shopping-info-component/product-info-component.html"></li>
            <li xlu-include-file="../shopping-info-component/product-info-component.html"></li>
        </ul>
    </article>
<script>

    xLuIncludeFile();

</script>
</body>
</html>