<main>
  <app-shopping-process/>
  <div id="shipping-method-wrapper">
    <section id="shipping-method">
      <h2>MÉTODO DE ENVÍO</h2>
      <form>
        <label for="address">Dirección</label>
        <input type="text" id="address" name="address">
        <label for="shop">Tienda física</label>
        <select id="shop" name="shop">
          <option value="">Selecciona una tienda</option>
          <option value="tienda1">Centro Comercial 7 Palmas - Av Pintor Felo Monzón, 44, 35019 Las Palmas de Gran Canaria, Las Palmas</option>
          <option value="tienda2">Corte Inglés Mesa y López - Av. José Mesa y López, 13, 35007 Las Palmas de Gran Canaria, Las Palmas</option>
          <option value="tienda3">Centro comercial Las Arenas - Ctra. del Rincón, s/n, 35010 Las Palmas de Gran Canaria, Las Palmas</option>
        </select>
        <button type="submit" id="button">Siguiente</button>
      </form>
    </section>
    <app-shopping-info/>
  </div>
</main>
