<main>
  <h1 id="shopping-cart-title"><i class='bx bx-cart'></i> Carrito de compra</h1>
  <article id="shopping-info">
    <div id="shopping-cart-list">
      <div *ngFor="let item of shoppingCart">
        <section id="product-info-component">
          <div id="product-image-component">
            <img id="image" alt="Producto" [src]="item.product.Imagen">
          </div>
          <div id="product-info">
            <div id="product-name-component">{{item.product.Nombre}}</div>
            <div id="product-desc-component">{{item.product.Descripcion}}</div>
          </div>
          <div id="button-minus" class="qty-button" (click)="decrease(item)">
            <button class="qty-button"><i class='bx bxs-minus-circle'></i></button>
          </div>
          <div id="product-quantity-component">Qty: {{item.quantity}}</div>
          <div id="button-plus" class="qty-button" (click)="increase(item)">
            <button class="qty-button" ><i class='bx bxs-plus-circle' ></i></button>
          </div>
          <div id="product-price-component">
            {{item.product.Precio * item.quantity}}€
          </div>
        </section>
      </div>
    </div>
    <section id="buy-panel">
      <div id="total-price">{{calculateTotalPrice()}}€</div>
      <button id="buy-button" (click)="buy()">Procesar pedido</button>
      <button id="continue-shopping-button" (click)="continueShopping()">Seguir comprando</button>
    </section>
  </article>
</main>
