<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Product-info-component.css">
    <title>Title</title>
</head>
<body>
    <section id="product-info-component">
        <div id="product-image">
            <img src="../../assets/icons/product/torre-pc-gaming.jpg" alt="Producto">
        </div>
        <div id="product-info">
            <div id="product-name">Ordenador Sobremesa PcCom Ready</div>
            <div id="product-desc">Intel Core i5-12400F / 32GB / 1TB SSD / RTX4060</div>
        </div>
        <div id="product-quantity">Qty: 1</div>
        <div id="product-price">
            4096.99€
        </div>
    </section>
</body>
</html>