<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../templates/shopping-info-component/shopping-info-component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <article id="shopping-info-component">
        <div id="products-info-component"></div>
        <hr>
        <div id="shopping-info-total">
            <div id="shopping-info-total-title">Total:</div>
            <div id="shopping-info-total-price"></div>
        </div>
    </article>
<script type = "module" src="shopping-info-component.js"></script>
</body>
</html>