.wrapper-component-one{
    width: 520px;
    background: #D9D9D9;
    border: 2px solid rgba(255,255,255,.2);
    color: #000000;
    border-radius: 25px;
    margin: 10px;
    padding:  10px;
}

.wrapper-component-two{
    width: 520px;
    background: #D9D9D9;
    border: 2px solid rgba(255,255,255,.2);
    color: #000000;
    border-radius: 25px;
    margin: 10px;
    padding:  10px;
}

.wrapper-component-two {
    margin-top: 20px;
}

.wrapper-component-one h1,
.wrapper-component-two h1 {
    text-align: center;
}

.payment-summary {
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px 0;
    box-sizing: border-box;
    font-size: 24px;
}

.send-address p,
.payment-summary p {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.send-address i,
.payment-summary i {
    font-size: 26px;
}

.map-foto-container {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.map-foto-container img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}
#component2{
    margin-left: 100px;
}

#component3{
    margin-top: 0;
}