<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resumen de compra</title>
  <link rel="stylesheet" href="../../templates/order-review-component/order-review-component.css">
  <link rel="stylesheet" href="../../templates/header/header.css">
  <script src="../../xlu-include-file.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<div id="component">
  <div class="page-container">
    <div class="page-content">
      <div class="wrapper-component-one">
        <div class="login-form">
          <h1>Resumen de pago</h1>
          <div class="payment-summary">
            <p id="status">
              Su pago ha sido confirmado <i class='bx bx-check-circle'></i>
            </p>
            <p id="método-de-pago">
              Método de pago: Tarjeta de crédito <i class='bx bx-credit-card'></i>
            </p>
            <p id="fecha-de-llegada">
              Su fecha de llegada es: 00/00/0000 <i class='bx bxs-plane-land'></i>
            </p>
          </div>
        </div>
      </div>

      <div class="wrapper-component-two">
        <div class="login-form">
          <h1>Entrega del paquete</h1>
          <div class="map-foto-container">
            <img src="../../templates/order-review-component/Tiendas-en-las-que-operamos.png" alt="Mapa">
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    xLuIncludeFile();
  </script>
</div>

</body>
</html>
