<header>
  <section id="header-navigation">
    <article id="nav-top">
      <div id="logo-searchbar">
        <a id="header-logo" href="./index.html"><img src="assets/icons/header/infomarket_logo.png" width="92px" height="92px" alt=""></a>
      </div>
      <div id="user-cart">
        <div class="search">
          <input type="text" class="input" placeholder="¿Qué estás buscando?...">
          <button class="btn">
            <i class="fi fi-rr-search"></i>
          </button>
        </div>
        <a id="user" href="../screens/Personal-profile.html"><i class="fi fi-rr-user"></i></a>
        <a id="cart" href="./shopping-cart.html"><i class="fi fi-rr-briefcase-blank"></i></a>
      </div>
    </article>
  </section>
</header>
