<header>
  <section id="header-navigation">
    <article id="nav-top">
      <div id="logo-searchbar">
        <a id="header-logo" routerLink="/">
          <img *ngIf="logoUrl" [src]="logoUrl" width="92" height="92" alt="Infomarket logo" />
        </a>
      </div>
      <div id="user-cart">
        <div class="search" #searchBar>
          <input type="text" class="input" placeholder="¿Qué estás buscando?..." #inputBar>
          <button class="btn" (click)="toggleSearch()">
            <i class="fi fi-rr-search"></i>
          </button>
        </div>
        <a id="user" routerLink="/personal-profile"><i class="fi fi-rr-user"></i></a>
        <a id="cart" routerLink="/shopping-cart"><i class="fi fi-rr-briefcase-blank"></i></a>
      </div>
    </article>
  </section>
</header>
