<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
    <link rel="stylesheet" href="component.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body id="component">
<div class="wrapper-component">
    <form class="login-form">
        <h1>Titulo</h1>
        <div class="input-login">
            <input type="text" placeholder="Campo uno" required>
            <i class='bx bx-user'></i>
        </div>
        <div class="input-login">
            <input type="password" placeholder="Campo dos" required>
            <i class='bx bx-low-vision'></i>
        </div>
        <div class="remember_user">
            <label for="remember">
                <input type="checkbox" id="remember">Mensaje uno</label>
            <a href="#">Link mensaje dos</a>
        </div>
        <button type="submit" class="send">Boton</button>
        <div class="signup-link">
            <p>Mensaje dos <a href="#">Link mensaje tres</a> </p>
        </div>
    </form>
</div>
</body>
</html>