<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="sign-in.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<main class="login-container">
  <div class="auth-wrapper">
    <div class="logo-container">
      <img src="../assets/icons/header/infomarket_logo_mini.png" alt="InfoMarket Logo" class="login-logo">
    </div>
    <h1 class="auth-title">Iniciar sesión</h1>
    <p class="auth-subtitle">Introduce tus credenciales para acceder a tu cuenta</p>

    <!-- Formulario de inicio de sesión -->
    <form class="auth-form" id="sign-in-form">
      <div class="input-group">
        <input type="email" id="email" placeholder="Correo electrónico" required>
        <i class="fas fa-user"></i>
      </div>

      <div class="input-group">
        <input type="password" id="password" placeholder="Contraseña" required>
        <i class="fas fa-lock"></i>
      </div>

      <div class="form-options">
        <label class="custom-checkbox">
          <input type="checkbox">
          <span class="checkmark"></span>
          Recordar usuario
        </label>
        <a href="#" class="text-link">¿Olvidaste tu contraseña?</a>
      </div>

      <button type="submit" class="primary-button">Iniciar Sesión</button>

      <div class="form-divider">
        <span>o</span>
      </div>

      <button type="button" class="secondary-button" id="sign-up-btn">
        Crear nueva cuenta
      </button>
    </form>
  </div>
</main>

<script src="sign-in.js"></script>
</html>