<main>
  <div class="progress-container">
    <div class="step" [ngClass]="{'active': currentStep === 1}">
      <div class="circle">1</div>
      <p>Facturación</p>
    </div>
    <hr class="line">
    <div class="step" [ngClass]="{'active': currentStep === 2}">
      <div class="circle">2</div>
      <p>Método de envío</p>
    </div>
    <hr class="line">
    <div class="step" [ngClass]="{'active': currentStep === 3}">
      <div class="circle">3</div>
      <p>Pago</p>
    </div>
    <hr class="line">
    <div class="step" [ngClass]="{'active': currentStep === 4}">
      <div class="circle">4</div>
      <p>Resumen</p>
    </div>
  </div>
</main>
