
<article id="product-details">
  <section id="product-details-info">
    <h1 id="product-name">{{ product?.Nombre }}</h1>
    <p id="product-desc">{{ product?.Descripcion }}</p>
    <p id="features">Características del producto: </p>
    <hr class="hr-features" />
    <div id="product-features">
      <p *ngFor="let entry of caracteristicas">{{ entry.clave }}: {{ entry.valor }}</p>
    </div>
    <hr class="hr-features" />
    <p id="product-stock">Stock: <span>¡Últimas unidades!</span></p>
    <div id="quantity-container">
      <div class="quantity-selector">
        <p id="product-quantity">Cantidad:</p>
        <button class="qty-button" (click)="decrementQuantity()"><i class='bx bxs-minus-circle'></i></button>
        <p id="qty-value">{{ quantity }}</p>
        <button class="qty-button" (click)="incrementQuantity()"><i class='bx bxs-plus-circle'></i></button>
      </div>
    </div>
    <p id="final-price">Precio total: <span id="price">{{ finalPrice }}</span> €</p>
    <hr class="hr-features" />
    <div id="add-to-cart">
      <button id="add-to-cart-button" (click)="addToCart()">Añadir al carrito</button>
    </div>
  </section>

  <div id="product-image">
    <img [src]="imageUrl" alt="Producto" />
    <div id="button-arrows">
      <button id="prev-image"><i class='bx bx-chevron-left'></i></button>
      <button id="next-image"><i class='bx bx-chevron-right'></i></button>
    </div>
  </div>
</article>
