header, footer {
    width: 100%;
}

body {
    font-family: 'SF Pro Display', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    width: 60%;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
}

/* Círculo de los pasos */
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E9E9EA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    margin-bottom: 15px;
}

.step.active .circle {
    background-color: #746F6F;
    color: white;
}

p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.step::after {
    content: "";
    position: absolute;
    top: 20px;
    left: calc(50% + 20px);
    width: calc(100% - 40px);
    height: 2px;
    border-top: 2px dashed #aaa;
    z-index: 1;
}

.step:last-child::after {
    display: none;
}


.step:first-child::after {
    left: calc(50% + 20px);
}