<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="shopping-process-component.css">
  <title>Title</title>
</head>
<body>

<div class="progress-container">
  <div class="step active">
    <div class="circle">1</div>
    <p>Facturación</p>
  </div>
  <div class="line"></div>
  <div class="step">
    <div class="circle">2</div>
    <p>Método de envío</p>
  </div>
  <div class="line"></div>
  <div class="step">
    <div class="circle">3</div>
    <p>Pago</p>
  </div>
  <div class="line"></div>
  <div class="step">
    <div class="circle">4</div>
    <p>Resumen</p>
  </div>
</div>

</body>
</html>