<!DOCTYPE html>
<html lang="en">
<footer>
    <meta charset="UTF-8">
    <link rel="icon" href="../../assets/icons/header/infomarket_logo_mini.png" type="image/png">
    <link rel="stylesheet" href="../../templates/footer/footer.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infomarket</title>
    <section id="footer-wrapper">
        <img src="../../assets/icons/header/infomarket_logo.png", width="128px", height="128px">
        <article id="about-us">
            <h1>Sobre nosotros</h1>
            <ul id="about-us-list">
                <li><a>¿Quiénes somos?</a></li>
                <li><a>Trabaja con nosotros</a></li>
                <li><a>Política de cookies</a></li>
                <li><a>Política de privacidad</a></li>
            </ul>
        </article>
        <article id="customer-support">
            <h1>Apoyo al cliente</h1>
            <ul id="support-list">
                <li><a>Ayuda / Centro de soporte</a></li>
                <li><a>Gestionar cuenta</a></li>
                <li><a>Información sobre envío</a></li>
                <li><a>Tarjetas de regalo</a></li>
            </ul>
        </article>
        <hr>
        <article id="connect-with-us">
            <h1>Conecta con nosotros</h1>
            <div id="social-network-wrapper">
                <a><i class="fi fi-brands-twitter-alt-circle"></i></a>
                <a><i class="fi fi-brands-instagram"></i></a>
                <a><i class="fi fi-brands-facebook"></i></a>
                <a><i class="fi fi-brands-linkedin"></i></a>
                <a><i class="fi fi-brands-youtube"></i></a>
            </div>
        </article>
    </section>
    <section id="copyright-wrapper">
        <p>Copyright © 2025 Infomarket Inc. Todos los derechos reservados.</p>
        <ul id="policies-list">
            <a><li>Política de privacidad</li></a>
            <p>|</p>
            <a><li>Uso de cookies</li></a>
            <p>|</p>
            <a><li>Condiciones de uso</li></a>
            <p>|</p>
            <a><li>Ventas y reembolsos</li></a>
            <p>|</p>
            <a><li>Avisos legales</li></a>
        </ul>
    </section>
</footer>