* {
    margin: 0;
    padding: 0;
}

footer {
    bottom: 0;
    margin-top: auto;
    width: 100%;
}
#footer-wrapper {
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    justify-content: space-evenly;
    background-color: #F5F5F7;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#footer-wrapper h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    padding-bottom: 6px;
    color: #1E1E1E;
}

#footer-wrapper li {
    padding-bottom: 4px;
    text-decoration: none;
    list-style-type: none;
    color: #3D3D3D;
    font-size: 16px;
}
#footer-wrapper i {
    color: #3D3D3D;
    font-size: 20px;
}
#footer-wrapper i:hover {
    color: #000000;
}
#footer-wrapper a {
    cursor: pointer;
}
#about-us-list a:hover, #support-list a:hover {
    text-decoration: underline;
}
#footer-wrapper a:hover {
    color: #000000;
}
#footer-wrapper hr {
    height: 130px;
    border: 1px solid #CECECF;
}

#connect-with-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#copyright-wrapper {
    padding-inline: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1px solid #CECECF;
    text-align: left;
}

#copyright-wrapper a {
    cursor: pointer;
}

#copyright-wrapper a:hover {
    text-decoration: underline;
    color: #000000;
}

#copyright-wrapper p {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    color: #6C6C6C;
    padding-bottom: 5px;
    text-align: left;
}

#policies-list {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    color: #3D3D3D;
    justify-content: flex-start;
}

#policies-list li {
    padding-right: 10px;
}

#policies-list p {
    padding-right: 10px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
