<section id="header-navigation">
    <article id="nav-bottom">
        <ul id="nav-list">
            <a (click)="toggleDesktopMenu()"><li><i class="fi fi-rr-menu-burger"></i>Menú</li></a>
            <a><li><i class="fi fi-rr-badge-percent"></i>Ofertas</li></a>
            <a routerLink="/product-list/Informatica"><li><i class="fi fi-rr-computer"></i>Informática</li></a>
            <a routerLink="/product-list/Gaming"><li><i class="fi fi-rr-console-controller"></i>Gaming</li></a>
            <a routerLink="/product-list/Telefonia"><li><i class="fi fi-rr-mobile-button"></i>Telefonía</li></a>
            <a routerLink="/product-list/Televisores"><li><i class="fi fi-rr-screen"></i>Televisores</li></a>
            <a routerLink="/product-list/Electrodomesticos"><li><i class="fi fi-rr-washer"></i>Electrodomésticos</li></a>
        </ul>
    </article>
</section>
<section id="header-menu">
    <article id="menu-wrapper" [ngClass]="{'show-menu': isDesktopMenuVisible, 'hidden-menu': !isDesktopMenuVisible}">
        <div class="menu-item">
            <h1>Informática</h1>
            <ul class="menu-list">
                <li><a>PC sobremesa</a></li>
                <li><a>Portátiles</a></li>
                <li><a>Software</a></li>
                <li><a>Tablets</a></li>
                <li><a>Periféricos</a></li>
                <li><a>Impresoras</a></li>
            </ul>
        </div>
        <div class="menu-item">
            <h1>Gaming</h1>
            <ul class="menu-list">
                <li><a>PC gaming</a></li>
                <li><a>Portátiles gaming</a></li>
                <li><a>Monitores gaming</a></li>
                <li><a>Accesorios gaming</a></li>
                <li><a>Juegos PC</a></li>
            </ul>
        </div>
        <div class="menu-item">
            <h1>Telefonía</h1>
            <ul class="menu-list">
                <li><a>Smartphones</a></li>
                <li><a>Fundas y protectores</a></li>
                <li><a>Accesorios para móviles</a></li>
                <li><a>Telefonía doméstica</a></li>
            </ul>
        </div>
        <div class="menu-item">
            <h1>Televisores</h1>
            <ul class="menu-list">
                <li><a>TV Full HD</a></li>
                <li><a>TV 4K UHD</a></li>
                <li><a>TV 8K UHD</a></li>
                <li><a>Reproductores DVD / Blu-ray</a></li>
                <li><a>Accesorios TV</a></li>
            </ul>
        </div>
        <div class="menu-item">
            <h1>Electrodomésticos</h1>
            <ul class="menu-list">
                <li><a>Frigoríficos</a></li>
                <li><a>Lavavajillas</a></li>
                <li><a>Lavadoras</a></li>
                <li><a>Hornos</a></li>
                <li><a>Microondas</a></li>
            </ul>
        </div>
    </article>
</section>

<div id="mobile-nav-container">
    <button
            *ngIf="!isScrolling"
            id="mobile-menu-btn"
            class="mobile-only"
            (click)="toggleMobileMenu()"
    >
        <i class="fi fi-rr-menu-burger"></i>
    </button>

    <section id="mobile-menu" [class.hidden]="!isMobileMenuVisible" class="mobile-menu">
        <ul>
            <li><a routerLink="/product-list/Informatica"><i class="fi fi-rr-computer"></i>Informática</a></li>
            <li><a routerLink="/product-list/Gaming"><i class="fi fi-rr-console-controller"></i>Gaming</a></li>
            <li><a routerLink="/product-list/Telefonia"><i class="fi fi-rr-mobile-button"></i>Telefonía</a></li>
            <li><a routerLink="/product-list/Televisores"><i class="fi fi-rr-screen"></i>Televisores</a></li>
            <li><a routerLink="/product-list/Informatica/Electrodomesticos"><i class="fi fi-rr-washer"></i>Electrodomésticos</a></li>
            <li><a><i class="fi fi-rr-badge-percent"></i>Ofertas</a></li>
        </ul>
    </section>
</div>

