<main>
  <section id="main-title-wrapper">
    <h1 id="main-title">{{ titulo }}</h1>
    <button id="filter-button" (click)="toggleFilterMenu()">
      <i class='bx bx-filter-alt'></i> Ordenar y filtrar
    </button>
  </section>

  <section
    id="filter-menu-wrapper"
    [ngClass]="{
    'visible-filter': isFilterMenuVisible,
    'hidden-filter': !isFilterMenuVisible
  }"
  >
  <ul id="filter-menu">
      <li>
        <label>Ordenar por:</label>
        <select [(ngModel)]="ordenSeleccionado">
          <option value="">Sin orden</option>
          <option value="precioAsc">Precio: Menor a Mayor</option>
          <option value="precioDesc">Precio: Mayor a Menor</option>
          <option value="nombreAsc">Nombre: A-Z</option>
          <option value="nombreDesc">Nombre: Z-A</option>
        </select>
      </li>
      <li>
        <label>Precio mínimo:</label>
        <input type="number" [(ngModel)]="precioMin">
      </li>
      <li>
        <label>Precio máximo:</label>
        <input type="number" [(ngModel)]="precioMax">
      </li>
      <li>
        <label>Marca:</label>
        <input type="text" [(ngModel)]="marca">
      </li>
      <ng-container *ngFor="let filtro of filtrosCategoria[categoria] || []">
        <li>
          <label>{{ filtro }}:</label>
          <input type="text" [(ngModel)]="caracteristicas[filtro]">
        </li>
      </ng-container>
    </ul>
    <button id="apply-button" (click)="aplicarFiltros()">
      <i class='bx bx-filter-alt'></i> Aplicar
    </button>
  </section>

  <div>
    <div class="product-grid">
      <app-product
        *ngFor="let product of filteredProducts"
        [product]="product"
        [imageUrl]="product.Imagen"
        (see)="onSee(product)"
        (addToCart)="onAddToCart(product)"
      ></app-product>
    </div>
  </div>
</main>
