<main>
  <section id="main-title-wrapper">
    <h1 id="main-title">{{ titulo }}</h1>
    <button id="filter-button"><i class='bx bx-filter-alt'></i> Ordenar y filtrar</button>
  </section>
  <section id="filter-menu-wrapper" class="hidden-filter-menu">
    <ul id ="filter-menu">
      <li>Ordenar por</li>
      <li>Precio</li>
      <li>Marca</li>
      <li>Color</li>
    </ul>
    <button id="apply-button"><i class='bx bx-filter-alt'></i> Aplicar</button>
  </section>

  <div>
    <div class="product-grid">
      <app-product
        *ngFor="let product of products"
        [product]="product"
        [imageUrl]="product.Imagen"
      ></app-product>
    </div>
  </div>
</main>
