<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="../../assets/icons/header/infomarket_logo_mini.png" type="image/png">
  <link rel="stylesheet" href="../header/header.css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../header/header.js"></script>
  <title>Infomarket</title>
</head>
<body>
<header>
  <section id="header-navigation">
    <article id="nav-top">
      <div id="logo-searchbar">
        <a id="header-logo" href="header-2.html"><img src="../../assets/icons/header/infomarket_logo.png" width="92px" height="92px" alt=""></a>
      </div>
      <div id="user-cart">
        <div class="search">
          <input type="text" class="input" placeholder="¿Qué estás buscando?">
          <button class="btn">
            <i class="fi fi-rr-search"></i>
          </button>
        </div>
        <a id="user" href="header-2.html"><i class="fi fi-rr-user"></i></a>
        <a id="cart" href="header-2.html"><i class="fi fi-rr-briefcase-blank"></i></a>
      </div>
    </article>
  </section>
</header>


</body>