.container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.recuperacion h1 {
    font-weight: bold;
}

.recuperacion p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-style: italic;
}

button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


