header {
    top: 0;
    background-color: #FAFAFC;
}

#logo-searchbar {
    display: flex;
    align-items: center;
}

#user-cart a {
    padding-left: 10px;
    text-decoration: none;
}

#user-cart i {
    color: #323232;
    font-size: 28px;
}

#user-cart i:hover {
    color: #000000;
}

#nav-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-inline: 15%;
    border-bottom: 1px solid #EFEFEF;
    background-color: #FAFAFC;
}

#nav-list {
    text-decoration: none;
    list-style-type: none;
    font-family: 'SF Pro Display', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#nav-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    color: #3D3D3D;
    padding: 7px;
    margin-inline: 5px;
}

#nav-list a {
    cursor: pointer;
}

#nav-list li:hover {
    color: #000000;
}

#nav-list i {
    font-size: 33px;
}

#nav-bottom {
    background-color: #F5F5F7;
    padding-inline: 20%;
}

#header-logo {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-inline: 5px;
}

/* Estilos del menú desplegable */
.menu-item h1 {
    font-size: 16px;
    padding-bottom: 6px;
    color: #1E1E1E;
}

#menu-wrapper {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding-top: 1.5%;
    padding-bottom: 4%;
    padding-inline: 5%;
    background-color: #F5F5F7;
}

.hidden-menu {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transform: translateY(-25%);
}

.show-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.25s;
}

.blur-item {
    filter: blur(8px);
}

#menu-wrapper a {
    cursor: pointer;
}

#menu-wrapper a:hover {
    color: #000000;
    text-decoration: underline;
}

.menu-list li {
    padding-bottom: 4px;
    list-style-type: none;
    color: #3D3D3D;
    font-size: 16px;
}
