* {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    background-color: #FAFAFC;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

body {
    background-color: #FAFAFC;
}

#logo-searchbar {
    display: flex;
    align-items: center;
}

#user-cart a {
    padding-left: 10px;
    text-decoration: none;
}

#user-cart i {
    color: #3D3D3D;
    font-size: 28px;
}

#user-cart i:hover {
    color: #000000;
}

#nav-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-inline: 15%;
    border-bottom: 1px solid #EFEFEF;
    background-color: #FAFAFC;
}

main {
    align-items: center;
    justify-content: center;
    background-color: #FAFAFC;
}

#main-video {
    max-width: 88%;
    overflow-x: hidden;
    z-index: -1;
    border-radius: 44px;
    margin-inline: 6%;
    background-color: #EFEFEF;
}

#main-title, #offer-title {
    font-size: 72px;
}

#main-title-wrapper, #offers-wrapper {
    font-family: 'SF Pro Display', sans-serif;
    padding-inline: 6%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1D1D1F;
}

#main-description, #offer-description {
    font-size: 28px;
}

#nav-list {
    text-decoration: none;
    list-style-type: none;
    font-family: 'SF Pro Display', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#nav-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 15px;
    color: #3D3D3D;
    border: none;
    padding: 7px;
    margin-inline: 5px;
}

#nav-list a {
    cursor: pointer;
}

#nav-list li:hover {
    color: #000000;
}

#nav-list i {
    font-size: 33px;
}

#header-logo {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-inline: 5px;
}

#product-search {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 17px;
    margin-left: 5px;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 50%;
}

#header-title {
    font-family: 'SF Pro Display', sans-serif;
    text-decoration: none;
    font-size: 32px;
}

#nav-bottom {
    background-color: #F5F5F7;
    padding-inline: 20%;
}

footer {
    bottom: 0;
}

#footer-wrapper {
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    justify-content: space-evenly;
    background-color: #F5F5F7;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#footer-wrapper h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    padding-bottom: 6px;
    color: #1E1E1E;
}

#footer-wrapper li {
    padding-bottom: 4px;
    text-decoration: none;
    list-style-type: none;
    color: #444445;
    font-size: 16px;
}

#footer-wrapper i {
    color: #444445;
    font-size: 22px;
}

#footer-wrapper i:hover {
    color: #1D1D1F;
}

#footer-wrapper a {
    cursor: pointer;
}

#about-us-list a:hover, #support-list a:hover {
    text-decoration: underline;
}

#footer-wrapper a:hover {
    color: #1D1D1F;
}

#footer-wrapper hr {
    height: 130px;
    border: 1px solid #CECECF;
}

#connect-with-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#copyright-wrapper {
    padding-inline: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1px solid #CECECF;
}

#copyright-wrapper a {
    cursor: pointer;
}

#copyright-wrapper a:hover {
    text-decoration: underline;
}

#copyright-wrapper p {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    color: #6C6C6C;
    padding-bottom: 5px;
}

#policies-list {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    color: #444445;
}

#policies-list li {
    padding-right: 10px;
}

#policies-list p {
    padding-right: 10px;
}

.list{
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.offer-videos {
    min-width: 80%;
    max-width: 80%;
    border-radius: 44px;
    margin-inline: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#video-wrapper {
    background-color: #F5F5F7;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin-bottom: 6%;
}

.video-buttons {
    position: absolute;
    width: 88%;
    margin-inline: 6%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

#overlay {
    position: absolute;
    align-self: flex-start;
    margin-left: 12%;
    margin-top: 5%;
    display: flex;
    transition: 1.15s;
    left: 0;
}

body {
    overflow-x: hidden;
}

#overlay h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 48px;
    color: #F5F5F7;
    min-width: 100%;
}

.video-buttons button {
    width: 55px;
    height: 55px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #CECECF;
    color: #FAFAFC;
    opacity: 0.5;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

.video-dots {
    position: absolute;
    color: #FAFAFC;
    opacity: 0.75;
    width: 80%;
    margin-bottom: 4%;
    margin-inline: 10%;
    display: flex;
    justify-content: center;
}

.video-dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #FAFAFC;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.video-dots li.active{
    width: 30px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background-color: #FDFDFF;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logo-slider {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.logo-slider img {
    height: 50px;
    margin: 0 40px;
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(75px);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

#main-title.hidden, #offer-title.hidden {
    transition: all 1.25s;
}

#main-description.hidden, #offer-description.hidden {
    transition: all 1.55s;
}