<main>
  <section id="main-title-wrapper">
    <h1 id="main-title" class="hidden">Infomarket</h1>
    <h2 id="main-description" class="hidden">Innovación al alcance de tus manos.</h2>
  </section>
  <video id="main-video" class="hidden" autoplay muted loop>
    <source src="assets/videos/home/ps5_controller.mp4" type="video/mp4">
  </video>
  <section id="offers-wrapper">
    <h1 id="offer-title" class="hidden">Ofertas</h1>
    <h2 id="offer-description" class="hidden">Actualiza tu mundo digital.</h2>
  </section>
  <section id="video-wrapper">
    <div class="list">
      <video class="offer-videos" autoplay muted>
        <source src="assets/videos/home/laptop.mp4" type="video/mp4">
      </video>
      <video class="offer-videos" autoplay muted>
        <source src="assets/videos/home/gaming.mp4" type="video/mp4">
      </video>
      <video class="offer-videos" autoplay muted>
        <source src="assets/videos/home/smartphones.mp4" type="video/mp4">
      </video>
      <video class="offer-videos" autoplay muted>
        <source src="assets/videos/home/television.mp4" type="video/mp4">
      </video>
      <video class="offer-videos" autoplay muted>
        <source src="assets/videos/home/fridge.mp4" type="video/mp4">
      </video>
    </div>
    <div id="overlay">
      <h1>INFORMÁTICA</h1>
      <h1>GAMING</h1>
      <h1>TELEFONÍA</h1>
      <h1>TELEVISORES</h1>
      <h1>ELECTRODOMÉSTICOS</h1>
    </div>
    <div class="video-buttons">
      <button id="prev"><</button>
      <button id="next">></button>
    </div>
    <ul class="video-dots">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
  <section class="logos">
    <div class="logo-slider">
      <img src="assets/images/logos/amd.svg">
      <img src="assets/images/logos/apple.svg">
      <img src="assets/images/logos/asus.svg">
      <img src="assets/images/logos/hp.svg">
      <img src="assets/images/logos/msi.svg">
      <img src="assets/images/logos/playstation.svg">
      <img src="assets/images/logos/samsung.svg">
      <img src="assets/images/logos/xbox.svg">
    </div>
    <div class="logo-slider">
      <img src="assets/images/logos/amd.svg">
      <img src="assets/images/logos/apple.svg">
      <img src="assets/images/logos/asus.svg">
      <img src="assets/images/logos/hp.svg">
      <img src="assets/images/logos/msi.svg">
      <img src="assets/images/logos/playstation.svg">
      <img src="assets/images/logos/samsung.svg">
      <img src="assets/images/logos/xbox.svg">
    </div>
  </section>
</main>
