<main>
  <section id="main-title-wrapper">
    <h1 id="main-title" class="hidden">Infomarket</h1>
    <h2 id="main-description" class="hidden">Innovación al alcance de tus manos.</h2>
  </section>

  <div *ngIf="videosReady">
    <video id="main-video" *ngIf="ps5videoUrl" [src]="ps5videoUrl" autoplay muted loop playsinline></video>
  </div>

  <section id="offers-wrapper">
    <h1 id="offer-title" class="hidden">Ofertas</h1>
    <h2 id="offer-description" class="hidden">Actualiza tu mundo digital.</h2>
  </section>

  <section id="video-wrapper">
    <div *ngIf="videosReady" class="list" #sliderContainer>
      <video class="offer-videos" *ngIf="laptopvideoUrl" [src]="laptopvideoUrl" autoplay muted loop playsinline></video>
      <video class="offer-videos" *ngIf="gamingvideoUrl" [src]="gamingvideoUrl" autoplay muted loop playsinline></video>
      <video class="offer-videos" *ngIf="smartphonevideoUrl" [src]="smartphonevideoUrl" autoplay muted loop playsinline></video>
      <video class="offer-videos" *ngIf="televisionvideoUrl" [src]="televisionvideoUrl" autoplay muted loop playsinline></video>
      <video class="offer-videos" *ngIf="fridgevideoUrl" [src]="fridgevideoUrl" autoplay muted loop playsinline></video>
    </div>

    <div id="overlay" #overlayContainer>
      <h1>INFORMÁTICA</h1>
      <h1>GAMING</h1>
      <h1>TELEFONÍA</h1>
      <h1>TELEVISORES</h1>
      <h1>ELECTRODOMÉSTICOS</h1>
    </div>

    <div class="video-buttons">
      <button id="prev"><</button>
      <button id="next">></button>
    </div>

    <ul class="video-dots">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>

  <section class="logos" *ngIf="marcasUrls.length">
    <div class="logo-slider" *ngFor="let i of [1,2]">
      <img *ngFor="let marca of marcasUrls" [src]="marca" alt="Logo empresa">
    </div>
  </section>
</main>
