<main>
  <app-shopping-process/>
  <div id="billing-shopping-wrapper">
    <section id="billing-address">
      <h2>DIRECCIÓN DE FACTURACIÓN</h2>
      <form [formGroup]="billingForm" (ngSubmit)="onSubmit()">
        <label for="country">País</label>
        <input type="text" id="country" formControlName="country" required>

        <label for="address">Dirección</label>
        <input type="text" id="address" formControlName="address" required>

        <label for="zip">Código Postal</label>
        <input type="text" id="zip" formControlName="zip" required>

        <label for="province">Provincia</label>
        <input type="text" id="province" formControlName="province" required>

        <button id="continue-button" type="submit">Continuar</button>
      </form>
    </section>
    <app-shopping-info/>
  </div>
</main>
