<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../templates/product-component/product-component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <article id="product">
        <a href="https://www.ejemplo.com" target="_blank">
            <div id="product-image">
                <img src="../../assets/icons/product/torre-pc-gaming.jpg" alt="Producto">
            </div>
            <p id="product-name">Ordenador Sobremesa PcCom Ready</p>
            <p id="product-desc">Intel Core i5-12400F / 32GB / 1TB SSD / RTX4060 </p>
            <p id="price"> 4096.99€ </p>
        </a>
        <div class="buttons">
            <button id="see">Ver</button>
            <button id="add-to-cart">Añadir al carrito</button>
        </div>
    </article>
</body>
</html>