<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../../assets/icons/header/infomarket_logo_mini.png" type="image/png">
    <link rel="stylesheet" href="product-list.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../header/header.js"></script>
    <script src="../../xlu-include-file.js"></script>
    <title>Infomarket</title>
</head>
<body>
<header>
    <section id="header-navigation">
        <article id="nav-top">
            <div id="logo-searchbar">
                <a id="header-logo" href="header.html"><img src="../../assets/icons/header/infomarket_logo.png" width="92px" height="92px" alt=""></a>
            </div>
            <div id="user-cart">
                <div class="search">
                    <input type="text" class="input" placeholder="¿Qué estás buscando?...">
                    <button class="btn">
                        <i class="fi fi-rr-search"></i>
                    </button>
                </div>
                <div>
                    <a id="user" href="header.html"><i class="fi fi-rr-user"></i></a>
                    <a id="cart" href="header.html"><i class="fi fi-rr-briefcase-blank"></i></a>
                </div>
            </div>
        </article>
        <article id="nav-bottom">
            <ul id="nav-list">
                <a><li><i class="fi fi-rr-menu-burger"></i>Menú</li></a>
                <a><li><i class="fi fi-rr-badge-percent"></i>Ofertas</li></a>
                <a><li><i class="fi fi-rr-computer"></i>Informática</li></a>
                <a><li><i class="fi fi-rr-console-controller"></i>Gaming</li></a>
                <a><li><i class="fi fi-rr-mobile-button"></i>Telefonía</li></a>
                <a><li><i class="fi fi-rr-screen"></i>Televisores</li></a>
                <a><li><i class="fi fi-rr-washer"></i>Electrodomésticos</li></a>
            </ul>
        </article>
    </section>
    <section id="header-menu">
        <article id="menu-wrapper" class="hidden-menu">
            <div class="menu-item">
                <h1>Informática</h1>
                <ul class="menu-list">
                    <li><a>PC sobremesa</a></li>
                    <li><a>Portátiles</a></li>
                    <li><a>Software</a></li>
                    <li><a>Tablets</a></li>
                    <li><a>Periféricos</a></li>
                    <li><a>Impresoras</a></li>
                </ul>
            </div>
            <div class="menu-item">
                <h1>Gaming</h1>
                <ul class="menu-list">
                    <li><a>PC gaming</a></li>
                    <li><a>Portátiles gaming</a></li>
                    <li><a>Monitores gaming</a></li>
                    <li><a>Accesorios gaming</a></li>
                    <li><a>Juegos PC</a></li>
                </ul>
            </div>
            <div class="menu-item">
                <h1>Telefonía</h1>
                <ul class="menu-list">
                    <li><a>Smartphones</a></li>
                    <li><a>Fundas y protectores</a></li>
                    <li><a>Accesorios para móviles</a></li>
                    <li><a>Telefonía doméstica</a></li>
                </ul>
            </div>
            <div class="menu-item">
                <h1>Televisores</h1>
                <ul class="menu-list">
                    <li><a>TV Full HD</a></li>
                    <li><a>TV 4K UHD</a></li>
                    <li><a>TV 8K UHD</a></li>
                    <li><a>Reproductores DVD / Blu-ray</a></li>
                    <li><a>Accesorios TV</a></li>
                </ul>
            </div>
            <div class="menu-item">
                <h1>Electrodomésticos</h1>
                <ul class="menu-list">
                    <li><a>Frigoríficos</a></li>
                    <li><a>Lavavajillas</a></li>
                    <li><a>Lavadoras</a></li>
                    <li><a>Hornos</a></li>
                    <li><a>Microondas</a></li>
                </ul>
            </div>
        </article>
    </section>
</header>

<main>
    <section id="main-title-wrapper">
        <h1 id="main-title">Informática</h1>
        <button id="filter-button"><i class='bx bx-filter-alt'></i> Ordenar y filtrar</button>
    </section>
    <div>



        <div class="product-list">
            <div xlu-include-file="../product-component/product-component.html"></div>
            <div xlu-include-file="../product-component/product-component.html"></div>
            <div xlu-include-file="../product-component/product-component.html"></div>
            <div xlu-include-file="../product-component/product-component.html"></div>
        </div>
        <div class="product-list">
            <div xlu-include-file="../product-component/product-component.html"></div>
            <div xlu-include-file="../product-component/product-component.html"></div>
            <div xlu-include-file="../product-component/product-component.html"></div>
            <div xlu-include-file="../product-component/product-component.html"></div>
        </div>
    </div>
</main>

<footer id="main_footer" xlu-include-file="../footer/footer.html"></footer>

<script>

    xLuIncludeFile();

</script>

</body>